<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘모입지?</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page">
        <nav id="header"></nav>
        <div id="headerDummy" style="height: 50px;"></div>
        <main id="content">
            <div id="ww_8ad28917ded4f" v='1.3' loc='auto' a='{"t":"ticker","lang":"ko","sl_lpl":1,"ids":["wl4479"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'><a href="https://weatherwidget.org/" id="ww_8ad28917ded4f_u" target="_blank">Weather widget for website</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_8ad28917ded4f"></script>
            <p>
                <img src="https://i.ibb.co/vDJxmNk/image.png" alt="image" class="responsive-image">
                <div class="buttons">
                    <form action="/loginpage" method="get" class="login">
                        <button class="btn-hover color-9" type="submit" value="login">로그인 하기</button>
                    </form>
                </div>
            </p>
        </main>
</div>

<script src="../static/js/homepage.js"></script>
</body>
</html>